src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<configuration-properties doc:name="Configuration properties" file="mule-artifact.properties" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3ad2a5dc-d0ce-4f61-871b-eb3fb38d5507" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="hello-worldFlow" doc:id="9a0b8500-5725-466b-9ad4-dacf85d5c71d" >
		<http:listener doc:name="Listener" doc:id="a80b491a-8fe8-4cd1-b2bc-f523a4b19d79" config-ref="HTTP_Listener_config" path="/helloWorld"/>
		<logger level="INFO" doc:name="Logger" doc:id="a23472cb-8c9f-452e-a509-c925b70741d6" message="#[attributes.requestPath]"/>
		<set-payload value="Hello World!" doc:name="Set Payload" doc:id="0ddfd935-5e81-4977-a5ec-8bc9dd9c28c2" mimeType="text/plain"/>
	</flow>
</mule>
